body {
  font-family: "Noto Sans Telugu", sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid darkslategray;
  border-radius: 60px;
  background-color: darkslategrey;
}
h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: o;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-left: 5px;
  height: 63px;
  width: 63px;
}
.weather-temperature strong {
  color: gray;
  font-size: 63px;
  line-height: 1;
  font-weight: 300;
}
.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: 5px;
}
.weather-temperature .active {
  colour: gray;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none !important;
}
