body {
  font-family: var(--bs-font-sans-serif);
  background-image: url("img/desktop-wallpaper-pastel-ombre-group-purple-pastel-aesthetic.jpg");
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(203, 158, 219);
}
h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: o;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  font-family: `Roboto`;
}

li:first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-left: 5px;
  height: 63px;
  width: 63px;
  font-family: var(--bs-font-sans-serif);
}
.weather-temperature strong {
  color: black;
  font-size: 63px;
  line-height: 1;
  font-weight: 300;
}
.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: 5px;
  font-family: `Roboto`;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  font-family: `Roboto`;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none !important;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-family: var(--bs-font-sans-serif);
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  font-family: var(--bs-font-sans-serif);
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.form-control {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  font-family: var(--bs-font-sans-serif);
  margin: 0;
  padding: 0;
}
footer {
  text-align: center;
}
.button {
  background-color: transparent;
  border-color: rgb(203, 158, 219);
  border-radius: 20px;
  box-shadow: none;
}
